/* Loading.css */

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.loading-logo-container {
  width: 150px; 
  height: 150px; 
  border: 10px solid #f3f3f300;
 
  border-top: 10px solid #048023;
  border-radius: 50%; 
  
  margin-bottom: 20px; 
  position: absolute;
  z-index: 1;
  animation: spinloader 1.5s linear infinite;
  box-shadow: 0 4px 8px rgba(42, 40, 40, 0.203);
}

.loading-logo {
  width: 100px; 
  height: 100px; 
  position: relative;
  margin-bottom: 30px;
}



@keyframes spinloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
